 <% if user_signed_in? %>
 <h2 class="text-center mt-3">Pets available for fostering:</h2>
 <div class="main-container justify-content-center">
    <div class="cards">
        <%= render "components/pet_card" %>
    </div>
</div>
<% else %>

<div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(<%= asset_path('girl_dog.jpg')%>);">
    <div class="container">
        <h1>Rent A Pet</h1>
        <p>We deliver the best experience in fostering pets</p>
        <a> <%= link_to "Apply now", new_user_registration_path, class:"btn btn-warning" %></a>
    </div>
</div>
<div class="container">
    <h2>Our goal</h2>
    <p>We here at Rent a Pet hate to see animals being lonely. We understand that you are in a situation from time to time where you can't take your pet. Instead of having the high costs of a pound, why not let someone foster it for the time you are gone?
    </p>
    <h2>Our values</h2>
    <p>We believe animals deserve the best care they can get. By fostering an animal, you are preventing them from being sent to a pound where they are in a small enclosure for the duration of their stay. Why not have a look at the following animals and rent yourself a companion for a few days while helping someone out?
    </p>
  <div class="main-container justify-content-center">
    <div class="cards">
        <%= render "components/pet_card" %>
    </div>
  </div>
</div>
<% end %>
