<h1>Rent A Pet</h1>

<h2>Our goal</h2>
<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quasi, tempora maxime provident dignissimos sint eum officia esse rem doloribus repellat necessitatibus commodi pariatur nisi odit neque quae suscipit adipisci in.
</p>

<h2>Our values</h2>
<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quasi, tempora maxime provident dignissimos sint eum officia esse rem doloribus repellat necessitatibus commodi pariatur nisi odit neque quae suscipit adipisci in.
</p>
