<div class="container">
  <div class="form-date">
    <%= simple_form_for [pet, reservation] do |f| %>
      <%= f.input :start_date %>
      <%= f.input :end_date %>
      <%= f.submit "Choose this pet!", class: "btn btn-primary" %>
    <% end %>
  </div>
</div>
